@import url("../../globals.css");

.figure-cap img {
  display: block;
  width: 100%;
  border-radius: 1rem;
}

.figure-cap figcaption,
.figure-cap p {
  text-align: center;
}

.figure-cap figcaption {
  font-weight: bold;
}
