@import url("../globals.css");

.see-more {
  color: var(--blue);
  text-align: center;
  z-index: 2;
}

.see-more h3 {
  display: inline-block;
}

.see-more-btn {
  display: inline-block;
  vertical-align: middle;
}
